body,
footer {
    color: darkolivegreen;
    background-color: rgba(255, 218, 252, 0.17);
    font-family: monospace
}

h1,
strong {
    color: black;
}

* {
    box-sizing: border-box;
    margin: 0;
}

main p {
    color: darkslategrey
}


.dark-green {
    color: rgb(5, 6, 37);
}

.madtatter-font-big {
    font-size: 30px;
}

#madtatter-font-heavy {
    font-weight: 900;
}

#content p {
    color: darkslateblue;
}

<h1 style {color:dimgrey} > The Mad Tatter !</h1 > 

<h2 class="madtatter-font-big" > You think it,
we ink it.</h2 >


